/*TEXTBOX CSS*/

.input {
    position: absolute;
    z-index: 1;
    display: inline-block;
    margin: 0px;
    padding-left: 1em;
    width: 78%;
    overflow: hidden;
    background: #fff;
    text-align: left;
}

.input__field {
    display: block;
    float: right;
    border: none;
    -webkit-appearance: none;
    width: 80%;
    padding: .8em;
    font-family: inherit;
}

.input__field:focus {
	outline: none;
}

.input__label {
    position: absolute;
    display: inline-block;
    color: #D2D2D2;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    padding: 0em; 
    display: inline-block;
    -webkit-transform: translate3d(-1.75em, 0, 0);
    transform: translate3d(-1.75em, 0, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}


.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
    display: inline-block;
    margin-top: .3em;
    -webkit-transform: translate3d(-2em, 0, 0);
    transform: translate3d(-2em, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
	opacity: 0;
	-webkit-transform: translate3d(100px, 0, 0);
	transform: translate3d(100px, 0, 0);
}

.input__label-content,
.icon,
.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field:focus + .input__label .icon,
.input--filled  .icon {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.shorter{
    width: 65%;
    margin-top: 8px;
}

/*FILE CSS*/

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 8\50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem .7rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.5em;
}

.inputPortrait + label {
    color: #f1e5e6;
    background-color: #d3394c;
    font-size: .9em;
}

.inputPortrait:focus + label,
.inputPortrait.has-focus + label,
.inputPortrait + label:hover {
    background-color: #722040;
}

/*BUTTONS*/

.button {
	float: left;
	display: block;
	margin: 2px;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;

    font-size: 14px;
    letter-spacing: 2px;
	text-transform: uppercase;
    font-weight: 600;
    border: 3px solid;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

.button--round-l {
	border-radius: 40px;
}

.button--ujarak {
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}
.button--ujarak::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak::before {
	border-radius: 2px;
}
.button--ujarak.button--round-l::before {
	border-radius: 40px;
}
.button--ujarak.button--inverted.action::before {
	background: #B2D942;
}

.button--ujarak.button--inverted.save::before {
	background: #2ca755;
}
.button--ujarak.button--inverted.cancel::before {
	background: #D3394C;
}

.button--ujarak,
.button--ujarak::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover {
	color: #fff;
	border-color: #37474f;
}
.button--ujarak.button--inverted:hover {
	color: #37474F;
	border-color: #fff;
}
.button--ujarak:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#saveButton{
    padding: .8em .8em;   
}

#cancelButton{
    padding: .8em .9em;   
}

/*RADIO BOXES*/
.control-group {
    width: 80px;
    margin-left: 10px;
    text-align: left;
    vertical-align: top;
    position: absolute;
    top: 5.6%;
    left: 76%;
}

.control {
	position: relative;
    display: block;
    margin-bottom: 5px;
    padding-left: 30px;
    cursor: pointer;
}

.control input {
	position: absolute;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
    background: #ccc;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator.m{
	background: #73ABC2;
}

.control input:checked ~ .control__indicator.f{
	background: #FFA0B9;
}

.control input:checked ~ .control__indicator.d{
	background: #7b7b7b;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

