body, select {
    font: 10pt;
    font-family: 'Montserrat', sans-serif;
    background: #70C1B3;
}
#mynetwork {
    position: absolute;
    top: 82px;
    left: 2%;
    width: 70%;
    height: 88%;
    border: 1px solid darkcyan;
}
table.legend_table {
    font-size: 11px;
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
}
table.legend_table,td {
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
    padding: 2px;
}
div.table_content {
    width:80px;
    text-align:center;
}
div.table_description {
    width:100px;
}

#operation {
    font-size: 1em;
}

.searchHeading{
    font-size: 1em;
}

#results{
    position: relative;
    top: 5%;
    margin: auto;
    width: 100%;
    padding: 0px;
    text-align: center;
}

#resultItem{
    width: 100%;
    margin-bottom: 10px;
    list-style: none;
    background: white;
    border-radius: 5px;
}

#resultName{
    background: #b2d942; 
    font-size: .9em; 
    color: #29994f;
    padding: 2px;
}

#resultItemContainer{
    width: 215px;
    list-style: none;
    display: flex;
    background: white;
    border-radius: 5px;
}

.selectors{
    display: block;
    font-size: .9em;
    font-weight: normal;
    margin: 0px;
    margin-top: 10px;
}

.sidebar{
    position: absolute;
    background-color: #EDEDED;
    border-style: solid;
    border-width: 1px;
    border-color: darkcyan;
    top: 82px;
    left: 72.5%;
    z-index: 200;
    width: 24%;
    height: 85.2%;
    padding: 10px;
    padding-left: 1.8%
    display: block;
}

.center{
    text-align: center;
    display: block;
}

#search{
    z-index: 300;
}

input::-webkit-calendar-picker-indicator {
  display: none; /*remove dropdown arrow on search*/
}

#complete{
    left: 60%;
    position: absolute;
    top: 89.5%;
}

/*Tooltip*/

.popup{ 
    padding: 5px;
    border-radius: 5px;
}

.popup p{
    font-size: 1em;
    margin: 0px;
    text-align: center;
}

.popup img {
    width: 30px;
}

#asp{
    margin-right: 15px;
}

#save{
    position: absolute;
    top: 30px;
    left: 86%;
}

#config {
    float:left;
    width: 400px;
    height: 600px;
}
.input_output {
    height: 10%;
    width: 15%;
    display: none;
}

p {
    font-size:16px;
    max-width:700px;
}
